<template>
  <div>
    <b-container class="d-flex justify-content-center flex-column mt-7">
      <error-list
        v-if="errors.errors"
        :errors="errors.errors"
        :message="errors.message"
      />
      <b-form
        class="d-flex justify-content-center align-self-center w-50 border rounded p-3"
        :class="{
          'border-primary': $v.$dirty && !$v.$invalid,
          'border-danger': $v.$dirty && $v.$invalid || !!errors.errors && !$v.$anyDirty,
          'border-success': auth_success,
        }"
        @submit.prevent="login"
      >
        <b-col
          cols="12"
          class="align-self-center"
        >
          <b-row class="flex-row flex-column justify-content-center">
            <h1
              style="display: block;"
              class="w-100 mb-2 text-center"
              :class="{
                'text-primary': $v.$dirty && !$v.$invalid,
                'text-danger': $v.$dirty && $v.$invalid || !!errors.errors,
                'text-success': auth_success
              }"
            >
              Login
            </h1>
            <b-spinner
              v-if="auth_status === 'loading'"
              variant="primary"
              label="Spinning"
              class="align-self-center"
            />
            <b-input-group class="my-2">
              <!-- password -->
              <b-input-group-prepend>
                <div
                  class="
                    btn btn-sm d-flex
                    flex-column justify-content-center
                    text-light bg-primary
                    border-right-0 rounded-left
                  "
                  style="padding: 0 12px"
                  :class="{
                    'bg-danger': isInvalid('email'),
                    'bg-success': auth_success
                  }"
                >
                  <fa-icon icon="envelope" />
                </div>
              </b-input-group-prepend>
              <b-form-input
                v-model="email"
                type="email"
                name="email"
                :class="{
                  'has-error-input': isInvalid('email'),
                  'has-primary-input': !isInvalid('email'),
                  'has-success-input': auth_success,
                  'bg-default border-color-default': !hasSubmited && !$v.email.$dirty,
                }"
                placeholder="Email"
                @input="$v.email.$touch()"
              />
            </b-input-group>

            <!-- password -->

            <b-input-group class="my-2">
              <b-input-group-prepend>
                <div
                  class="
                    btn btn-sm d-flex
                    flex-column justify-content-center
                    text-light bg-primary
                    border-right-0 rounded-left
                  "
                  style="padding: 0 13px"
                  :class="{
                    'bg-danger': isInvalid('password'),
                    'bg-success': auth_success
                  }"
                >
                  <fa-icon
                    icon="key"
                  />
                </div>
              </b-input-group-prepend>
              <b-form-input
                v-model="password"
                :class="{
                  'has-error-input': isInvalid('password'),
                  'has-primary-input': !isInvalid('password'),
                  'has-success-input': auth_success,
                  'bg-default border-color-default': !hasSubmited && !$v.password.$dirty,
                }"
                :type="passwordType"
                name="password"
                placeholder="Senha"
                @input="$v.password.$touch()"
              />
              <b-input-group-append>
                <b-btn
                  class="
                    btn btn-sm d-flex
                    flex-column justify-content-center
                    text-light show-password
                  "
                  style="padding: 0 13px"
                  @click="changePassType()"
                >
                  <fa-icon
                    :icon="passwordType === 'password' ? 'eye' : 'eye-slash'"
                  />
                </b-btn>
              </b-input-group-append>
            </b-input-group>
            <hr>
            <b-button
              class="w-75 align-self-center"
              :variant="!auth_success ? ($v.$dirty && $v.$invalid || !!errors.errors && !$v.$anyDirty) ? 'danger': 'primary' : 'success'"
              type="submit"
              :disabled="$v.$anyDirty && $v.$invalid || !!errors.errors && !$v.$anyDirty"
            >
              Login
            </b-button>
          </b-row>
        </b-col>
      </b-form>
      <router-link
        to="/register"
        class="mt-2 text-center"
      >
        Cadastrar
      </router-link>
    </b-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

console.log(mapGetters(['auth_success']))

import { required, minLength, email } from 'vuelidate/lib/validators'

import ErrorList from "../ErrorList.vue";

export default {
  name: "Login",
  components: {
    ErrorList
  },
  data: () => ({
    email: "",
    password: "",
    errors: {},
    passwordType: 'password',
    hasSubmited: false
  }),
  computed:{
    ...mapGetters({auth_success: 'auth_success', auth_status: 'auth_status'})
  },
  methods: {
    async login () {
      if (!this.$v.$dirty) {
        this.$v.$touch()
      }
      if (this.$v.$invalid) return;

      let email = this.email;
      let password = this.password;

      try {
        this.hasSubmited = true;
        await this.$v.$reset()
        this.errors = {};
        await this.$store.dispatch("login", { email, password });
        console.log("aqui")
        // setTimeout(() => {
          this.$router.push("/dashboard")
          this.$store.commit("AUTH_DEFAULT")
        // }, 1000);

      } catch ({ response }) {
        console.log(response);
        if (!response) {
          this.errors = {
            message: "Ouve algum erro na comunicação com o servidor",
            errors: {
              erro: [
                "Cheque sua conexão com a internet",
                "Ou tente mais tarde"
              ]
            }
          }
          return
        }
        this.errors = response.data;

        let emailOriginal = this.email;

        this.email = "";

        setTimeout(() => {
          this.email = emailOriginal;
        }, 100);
      }
    },
    setTouch (field) {
      this.$v[field].$touch()
    },
    changePassType () {
      return this.passwordType = (this.passwordType === 'password') ? 'text': 'password';
    },
    isInvalid (field) {
      let ret = (
        (this.$v[field].$dirty && this.$v[field].$invalid) ||
        (this.hasError(field) && !this.$v[field].$dirty)
      )

      return ret
    },
    hasError (field) {
      let errors = this.errors;
      return
        // eslint-disable-next-line no-unreachable
        Object.prototype.hasOwnProperty.call(errors, 'errors') &&
        Object.prototype.hasOwnProperty.call(errors.errors, field)
    },
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(6)
    }
  }
};
</script>

<style scoped>
.mt-7 {
  margin-top: 5rem !important;
}
</style>
