<template>
  <div>
    <b-container class="d-flex justify-content-center flex-column mt-7">
      <error-list
        v-if="errors.errors"
        :errors="errors.errors"
        :message="errors.message"
      />
      <b-form
        class="d-flex justify-content-center align-self-center w-50 border rounded p-3"
        :class="{
          'border-primary': $v.$dirty && !$v.$invalid,
          'border-danger': $v.$dirty && $v.$invalid || errors.errors
        }"
        @submit.prevent="register"
      >
        <b-col
          cols="12"
          class="align-self-center"
        >
          <b-row class="flex-row flex-column justify-content-center">
            <h1
              style="display: block;"
              class="w-100 mb-2 text-center"
              :class="{
                'text-primary': $v.$dirty && !$v.$invalid,
                'text-danger': $v.$dirty && $v.$invalid || errors.errors,
                'text-success': auth_success
              }"
            >
              Cadastro
            </h1>

            <b-spinner
              v-if="auth_status === 'loading'"
              variant="primary"
              label="Spinning"
              class="align-self-center"
            />

            <!-- @input: Name -->

            <b-input-group class="my-2">
              <b-input-group-prepend>
                <div
                  class="
                    btn btn-sm d-flex
                    flex-column justify-content-center
                    text-light bg-primary
                    border-right-0 rounded-left
                  "
                  style="padding: 0 12px"
                  :class="{
                    'bg-danger': isInvalid('name'),
                    'bg-success': auth_success
                  }"
                >
                  <fa-icon icon="user" />
                </div>
              </b-input-group-prepend>
              <b-form-input
                v-model="name"
                name="name"
                :class="{
                  'has-error-input': isInvalid('name'),
                  'has-primary-input': !isInvalid('name'),
                  'has-success-input': auth_success,
                  'bg-default border-color-default': !hasSubmited && !$v.name.$dirty,
                }"
                placeholder="Nome"
                @input="$v.name.$touch()"
              />
            </b-input-group>

            <!-- @input: Email -->

            <b-input-group class="my-2">
              <b-input-group-prepend>
                <div
                  class="
                    btn btn-sm d-flex
                    flex-column justify-content-center
                    text-light bg-primary
                    border-right-0 rounded-left
                  "
                  style="padding: 0 12px"
                  :class="{
                    'bg-danger': isInvalid('email'),
                    'bg-success': auth_success
                  }"
                >
                  <fa-icon icon="envelope" />
                </div>
              </b-input-group-prepend>
              <b-form-input
                v-model="email"
                type="email"
                name="email"
                :class="{
                  'has-error-input': isInvalid('email'),
                  'has-primary-input': !isInvalid('email'),
                  'has-success-input': auth_success,
                  'bg-default border-color-default': !hasSubmited && !$v.email.$dirty,
                }"
                placeholder="Email"
                @input="$v.email.$touch()"
              />
            </b-input-group>

            <!-- @input: Passowrd -->

            <b-input-group class="my-2">
              <b-input-group-prepend>
                <div
                  class="
                    btn btn-sm d-flex
                    flex-column justify-content-center
                    text-light bg-primary
                    border-right-0 rounded-left
                  "
                  style="padding: 0 13px"
                  :class="{
                    'bg-danger': isInvalid('password'),
                    'bg-success': auth_success
                  }"
                >
                  <fa-icon
                    icon="key"
                  />
                </div>
              </b-input-group-prepend>
              <b-form-input
                v-model="password"
                :class="{
                  'has-error-input': isInvalid('password'),
                  'has-primary-input': !isInvalid('password'),
                  'has-success-input': auth_success,
                  'bg-default border-color-default': !hasSubmited && !$v.password.$dirty,
                }"
                :type="passwordType"
                name="password"
                placeholder="Senha"
                @input="$v.password.$touch()"
              />
              <b-input-group-append>
                <b-btn
                  class="
                    btn btn-sm d-flex
                    flex-column justify-content-center
                    text-light show-password
                  "
                  style="padding: 0 13px"
                  @click="changePassType('password')"
                >
                  <fa-icon
                    :icon="passwordType === 'password' ? 'eye' : 'eye-slash'"
                  />
                </b-btn>
              </b-input-group-append>
            </b-input-group>

            <!-- @input: Passowrd_Confirmation -->

            <b-input-group class="my-2">
              <b-input-group-prepend>
                <div
                  class="
                    btn btn-sm d-flex
                    flex-column justify-content-center
                    text-light bg-primary
                    border-right-0 rounded-left
                  "
                  style="padding: 0 13px"
                  :class="{
                    'bg-danger': isInvalid('password_confirmation'),
                    'bg-success': auth_success
                  }"
                >
                  <fa-icon
                    icon="key"
                  />
                </div>
              </b-input-group-prepend>
              <b-form-input
                v-model="password_confirmation"
                :class="{
                  'bg-default border-color-default': !hasSubmited && !$v.password_confirmation.$dirty,
                  'has-error-input': isInvalid('password_confirmation'),
                  'has-primary-input': !isInvalid('password_confirmation'),
                  'has-success-input': auth_success,
                }"
                :type="passwordConfirmationType"
                name="password_confirmation"
                placeholder="Confirme a senha"
                @input="$v.password_confirmation.$touch()"
              />
              <b-input-group-append>
                <b-btn
                  class="
                    btn btn-sm d-flex
                    flex-column justify-content-center
                    text-light show-password
                  "
                  style="padding: 0 13px"
                  @click="changePassType('password_confirmation')"
                >
                  <fa-icon
                    :icon="passwordConfirmationType === 'password' ? 'eye' : 'eye-slash'"
                  />
                </b-btn>
              </b-input-group-append>
            </b-input-group>

            <!-- --- --- -->

            <hr>
            <b-button
              class="w-75 align-self-center"
              :variant="!auth_success ? ($v.$dirty && $v.$invalid || !!errors.errors && !$v.$anyDirty) ? 'danger': 'primary' : 'success'"
              type="submit"
              :disabled="!!($v.$dirty && $v.$invalid || errors.errors)"
            >
              Cadastrar
            </b-button>
          </b-row>
        </b-col>
      </b-form>
      <router-link
        to="/login"
        class="mt-2 text-center"
      >
        Login
      </router-link>
    </b-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import ErrorList from "../ErrorList.vue";

import { required, minLength, email, sameAs } from "vuelidate/lib/validators";

export default {
  name: "Register",
  components: {
    ErrorList
  },
  data: () => ({
    name: "",
    email: "",
    password: "",
    password_confirmation: "",
    errors: {},
    hasSubmited: false,
    passwordConfirmationType: 'password',
    passwordType: 'password',
  }),

  computed: {
    ...mapGetters({auth_success: 'auth_success', auth_status: 'auth_status'})
  },

  methods: {
    async register () {
      if (this.$v.$invalid) return;

      this.hasSubmited = true;
      let name = this.name;
      let email = this.email;
      let password = this.password;
      let password_confirmation = this.password_confirmation;

      try {
        await this.$v.$reset();
        this.errors = {};
        await this.$store.dispatch("register", { name, email, password, password_confirmation });
        await this.$store.dispatch("login", { email, password });

        setTimeout(() => this.$router.push("/dashboard"), 1500);

      } catch ({ response }) {
        // console.log(response)
        this.errors = response.data;
        let emailOriginal = this.email;
        let nameOriginal = this.name;

        this.email = "";
        this.name = "";

        setTimeout(() => {
          this.email = emailOriginal;
          this.name = nameOriginal;
        }, 100);
      }
    },
    changePassType (field) {
      if (field === 'password') {
        return this.passwordType = (this.passwordType === 'password') ? 'text': 'password';
      } else if(field === 'password_confirmation') {
        return this.passwordConfirmationType = (this.passwordConfirmationType === 'password') ? 'text': 'password';
      }
    },
    isInvalid (field) {
      // let ret = (this.$v[field].$dirty && this.$v[field].$invalid) || this.hasError(field)

      let ret = (
        (this.$v[field].$dirty && this.$v[field].$invalid) ||
        (this.hasError(field) && !this.$v[field].$dirty)
      )

      return ret
    },
    hasError (field) {
      let errors = this.errors;
      // eslint-disable-next-line no-prototype-builtins
      return errors.hasOwnProperty('errors') && errors.errors.hasOwnProperty(field);
    }
  },
  validations: {
    name: {
      required,
      onlyLettersAndSpaces (name) {
        return (
          /^[a-zA-Z\s]*$/.test(name)
        )
      }
    },
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(6)
    },
    password_confirmation: {
      required,
      sameAs: sameAs('password')
    }
  }
};
</script>


<style scoped>
.mt-7 {
  margin-top: 5rem !important;
}
</style>
