<template>
  <div class="mt-5">
    <div class="card">
      <div class="card-header">
        Médico
      </div>
      <div class="card-body">
        <form @submit.prevent="submit">
          <div class="form-row">
            <div class="col-6">
              <div class="form-group">
                <label>Nome</label>
                <input
                  v-model="payload.nome"
                  class="form-control"
                  placeholder="Digite o nome do médico"
                  :class="{'border-danger': isInvalid('nome')}"
                  type="text"
                  @input="$v.payload.nome.$touch()"
                >
                <div
                  v-if="isInvalid('nome')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('nome') }}
                  </small>
                </div>
              </div>
            </div>

            <div class="col-3">
              <div class="form-group">
                <label>Crm</label>
                <the-mask
                  v-model="payload.crm"
                  :mask="['######/AA','#######/AA','########/AA','#########/AA','##########/AA']"
                  :class="{'border-danger': isInvalid('crm')}"
                  class="form-control"
                  placeholder="Digite o crm do médico"
                  :masked="true"
                  type="text"
                  @input="$v.payload.crm.$touch()"
                />
                <!-- /^[0-9]{6,10}\/[A-Z]{2}$/ -->
                <div
                  v-if="isInvalid('crm')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('crm') }}
                  </small>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label>Clinica</label>
                <select
                  v-model="payload.clinica_id"
                  class="form-control"
                  :class="{'border-danger': isInvalid('clinica_id')}"
                  @input="$v.payload.clinica_id.$touch()"
                >
                  <option
                    selected
                    value="null"
                  >
                    Selecione a clinica
                  </option>
                  <option
                    v-for="clinica in clinicas"
                    :key="clinica.id"
                    :value="clinica.id"
                  >
                    {{ clinica.nome }}
                  </option>
                </select>
                <div
                  v-if="hasErrors('clinica_id')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('clinica_id') }}
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-6">
              <div class="form-group">
                <label>Especialidade</label>
                <input
                  v-model="payload.especialidade"
                  class="form-control"
                  placeholder="Digite a especialidade do médico"
                  :class="{'border-danger': isInvalid('especialidade')}"
                  @input="$v.payload.especialidade.$touch()"
                >
                <div
                  v-if="hasErrors('especialidade')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('especialidade') }}
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>E-mail</label>
                <input
                  v-model="payload.email"
                  class="form-control"
                  placeholder="Digite o e-mail do médico"
                  :class="{'border-danger': isInvalid('email')}"
                  type="text"
                  @input="$v.payload.email.$touch()"
                >
                <div
                  v-if="hasErrors('email')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('email') }}
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <button
              class="btn btn-success ml-3"
              type="submit"
            >
              <fa-icon :icon="['fas', 'paper-plane']" />
              Enviar
            </button>
            <button
              class="btn btn-warning ml-3"
              type="reset"
              @click="reset"
            >
              <fa-icon :icon="['fas', 'redo']" />
              Resetar
            </button>
            <button
              class="btn btn-danger ml-3"
              type="button"
              @click="() => this.$router.go(-1)"
            >
              <fa-icon :icon="['fas', 'times']" />
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { required, maxLength, email } from 'vuelidate/lib/validators'

export default {
  name: "MedicoForm",
  data () {
    return {
      clinicas: [],
      payload: {
        nome: "",
        crm: '',
        especialidade: "",
        email: "",
        clinica_id: null
      },
      errors: {},
      type: 'create',
    };
  },
  created () {
    let { id } = this.$route.params

    this.loadClinicas()

    if (id) {
      this.rota = `/api/medico/${id}`
      this.loadMedico(id)
      this.type = 'edit'
    }

  },
  methods: {
    loadMedico (id){
      axios.get(`/api/medico/${id}`).then(
        res => {
          this.payload = res.data
        }
      )
    },
    loadClinicas () {
      axios.get('/api/clinica').then(({data}) => {
        this.clinicas = data.data;
      })
    },
    submit (){
      let { id } = this.$route.params;
      if (this.type === 'create') {
        axios.post('/api/medico', this.payload).then(() => {
          this.$swal({
            title: 'Médico criado com sucesso',
            toast: true,
            type: 'success',
            position: 'top-end',
            timer: 2000,
            showConfirmButton: false,
          });
          this.$router.go(-1)
        }).catch(err => {
          this.errors = err.response.data.errors
          this.$swal({
            title: 'Algo errado aconteceu',
            toast: true,
            type: 'error',
            position: 'top-end',
            timer: 2000,
            showConfirmButton: false,
          });
        })
      }else if(this.type === 'edit' && id){
        axios.put(`/api/medico/${id}`, this.payload).then(() => {
          this.$swal({
            title: 'Médico atualizado com sucesso',
            toast: true,
            type: 'success',
            position: 'top-end',
            timer: 2000,
            showConfirmButton: false,
          });
          this.$router.go(-1)
        }).catch(err => {
          this.errors = err.response.data.errors
          this.$swal({
            title: 'Algo errado aconteceu',
            toast: true,
            type: 'error',
            position: 'top-end',
            timer: 2000,
            showConfirmButton: false,
          });
        })
      }
    },
    reset (){
      let newPayload = {
        nome: "",
        crm: '',
        especialidade: "",
        email: "",
        clinica_id: ''
      }
      this.payload = newPayload;
    },
    hasErrors (field){
      if (
        (Object.entries(this.errors).length &&
        Object.prototype.hasOwnProperty.call(this.errors, field))
      ) {
        return true
      }
      return false
    },
    getErrorsMessage (field){
      if (this.hasErrors(field)) {
        console.log(field)
        return this.errors[field][0]
      }
      return ''
    },
    isInvalid (field) {
      let ret = (
        (this.$v.payload[field].$dirty && this.$v.payload[field].$invalid) ||
        (this.hasErrors(field) && !this.$v.payload[field].$dirty)
      )

      return ret
    }
  },
  validations: {
    payload: {
      nome: {
        required,
        maxLength: maxLength(55)
      },
      crm: {
        required,
        pattern: value => /^[0-9]{6,10}\/[A-Z]{2}$/.test(value)
      },
      especialidade: {
        required,
      },
      email:{
        required,
        email
      },
      clinica_id:{
        required
      }
    }
  }
};
</script>

<style scoped>
.btn-warning {
  color: #fff;
}
</style>
