<template>
  <div>
    <div class="d-flex my-3 flex-row-reverse">
      <button
        class="btn btn-success"
        @click="() => this.$router.push({name: 'medico-create'})"
      >
        <fa-icon :icon="['fas', 'plus']" />
        Cadastrar novo médico
      </button>
    </div>
    <div class="card">
      <div class="card-header">
        Medico
      </div>

      <div class="card-body">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">
                #
              </th>
              <th scope="col">
                Nome
              </th>
              <th scope="col">
                Crm
              </th>
              <th scope="col">
                Especialidade
              </th>
              <th scope="col">
                E-mail
              </th>
              <th scope="col">
                Ações
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(medico, index) in medicos"
              :key="medico.id"
            >
              <th
                scope="row"
              >
                {{ index + 1 }}
              </th>
              <td>{{ medico.nome }}</td>
              <td>{{ medico.crm }}</td>
              <td>{{ medico.especialidade }}</td>
              <td>{{ medico.email }}</td>
              <td>
                <router-link
                  :to="{name: 'medico-edit', params: {id: medico.id}}"
                  class="btn btn-outline-warning btn-sm"
                >
                  <fa-icon :icon="['fas', 'pen']" />
                </router-link>
              </td>
            </tr>
            <tr
              v-if="medicos.length === 0"
            >
              <th scope="row">
                #
              </th>
              <td>
                Não há registros
              </td>
              <td>
                Não há registros
              </td>
              <td>Não há registros</td>
              <td>Não há registros</td>
              <td>#</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <pagination :data="pagination" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: "MedicoIndex",
  data () {
    return {
      medicos: [],
      pagination: {},
    }
  },
  created () {
    this.loadMedicos()
  },
  methods: {
    loadMedicos () {
      axios.get('/api/medico').then(({data}) => {
        this.medicos = data.data;
      })
    },
    getResults (page = 1) {
			axios.get(`/api/medico?page=${page}`)
				.then(response => {
					this.pagination = response.data;
				});
    },
    // formatCrm (crm){
    //   // return crm.replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})$/, '$1.$2.$3\\$4-$5')
    // }
  }
};
</script>

<style scoped>
.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}
.btn-outline-warning:hover {
  color: #fff;
}
</style>
