<template>
  <div id="container">
    <transition
      name="fade"
    >
      <router-view />
    </transition>
  </div>
</template>

<script>

export default {
  name: 'WmApp',
  mounted () {
    console.log("Component mounted.");
  }
};
</script>

<style>
.tooltip-vue {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 4px 8px;
  border-radius: 8px;
}
.tooltip-vue[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip-vue[x-placement^="top"] .tooltip-vue-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  top: 32px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip-vue .tooltip-vue-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: rgba(0, 0, 0, 0.7);
}
</style>
