<template>
  <div>
    <nav-bar />
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <router-view />
          <router-view name="clinica-index" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import NavBar from './NavBar';

export default {
  name: 'Dashborad',
    components: {
    NavBar
  },
}
</script>

<style scoped>
.nounderline {
  text-decoration: none !important;
}
</style>
