<template>
  <transition>
    <div
      v-if="show"
      class="alert-error d-flex flex-column align-self-center m-3"
      style="margin-top: 0px !important"
    >
      <div class="d-flex align-items-center">
        <span class="badge badge-danger mr-2">
          {{ errorTotal }}
        </span>
        <h3
          class="mb-0"
          style="color: #f12345;"
        >
          {{ message }}
        </h3>
        <b-button
          v-b-toggle.collapse-1
          variant="link"
          class="ml-3 border-0"
        >
          <fa-icon
            icon="caret-down"
          />
        </b-button>
        <b-button-close
          class="ml-3 btn-close-ajust"
          @click="() => show = !show"
        />
      </div>
      <b-collapse
        id="collapse-1"
        :visible="true"
      >
        <hr class="hr-danger my-2 mb-3">
        <ul class="text-left mt-1 mb-0 pl-4">
          <li
            v-for="(error, errorName) in errors"
            :key="errorName"
          >
            <div
              class="d-flex align-items-center text-left"
            >
              <span style="font-size: 1.3rem;">
                {{ errorName }}
              </span>
              <span
                style="font-size: 1.3rem;"
                class="ml-1"
              >-</span>
              <span
                class="badge badge-danger ml-1"
              >
                {{ error.length }}
              </span>
            </div>
            <ul class="mb-1 pl-4">
              <li
                v-for="(msg, index) in error"
                :key="index"
              >
                {{ msg }}
              </li>
            </ul>
          <!-- {{ error.length }}: {{ index }} -- {{ error }} -->
          </li>
        </ul>
      </b-collapse>
    </div>
  </transition>
</template>

<script>

import { library } from "@fortawesome/fontawesome-svg-core";
import { faCaretDown } from "@fortawesome/free-solid-svg-icons";

library.add(faCaretDown);
// <i class="fas fa-sort-down"></i>
export default {
  name: "ErrorList",
  props: {
    message: {
      type: String,
      default: ""
    },
    errors: {
      type: [Array, Object],
      default () {([])}
    }
  },
  data: () => ({
    show: true
  }),
  computed: {
    errorTotal ()  {
      return this.countErrors(this.errors)
    }
  },
  methods: {
    countErrors (obj) {
      let total = 0;
      for (const key in obj) {
        // eslint-disable-next-line no-prototype-builtins
        if (obj.hasOwnProperty(key) && Array.isArray(obj[key])) {
          total += obj[key].length;
        }
      }
      return total;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
// @import "@/styles/setup.scss";

.btn-close-ajust {
  color: red;
  opacity: 0.53;
}
.btn-close-ajust:hover {
  color: red;
  // opacity: 0.63;
}

.btn.btn-link {
  color: #6c757d;
}

.btn.btn-link:hover {
  color: rgb(252, 24, 24);
}
</style>
