<template>
  <b-container
    class="d-flex align-items-center flex-column"
  >
    <img
      class="img-background"
      src="../assets/background.jpeg"
    >

    <b-card
      header="WM Clínicas"
      header-tag="header"
      class="mt-5"
      style="width: 35%"
    >
      <b-card-text>WM Clínicas o sistema de gestão de clínicas</b-card-text>
      <router-link
        to="/dashboard"
        class="btn btn-primary d-block align-self-align-self-center my-3"
      >
        Dashboard
      </router-link>

      <b-container class="d-flex justify-content-center">
        <router-link
          to="/login"
          class="mx-3 text-center"
        >
          Login
        </router-link>

        <router-link
          to="/register"
          class="mx-3 text-center"
        >
          Cadastrar
        </router-link>
      </b-container>
    </b-card>
  </b-container>
</template>

<script>
export default {
  name: 'Home',
  methods: {
    logout () {
      this.$store.dispatch('logout')
    }
  }
}
</script>


<style scoped>
.img-background {
  position: fixed;
  width: 100%;
}
</style>
