<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <router-link
      to="/"
      class="navbar-brand"
    >
      WM Sáude
    </router-link>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" />
    </button>

    <div
      id="navbarSupportedContent"
      class="collapse navbar-collapse"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link
            :to="{name: 'clinica-index'}"
            class="nav-link"
          >
            Clínicas
          </router-link>
        </li>
        <li class="nav-item">
          <router-link
            :to="{name: 'paciente-index'}"
            class="nav-link"
          >
            Pacientes
          </router-link>
        </li>
        <li class="nav-item">
          <router-link
            :to="{name: 'medico-index'}"
            class="nav-link"
          >
            Médicos
          </router-link>
        </li>
        <li class="nav-item">
          <router-link
            :to="{name: 'atendimento-index'}"
            class="nav-link"
          >
            Atendimentos
          </router-link>
        </li>
      </ul>
      <b-button
        size="sm"
        class="my-2 my-sm-0"
        variant="outline-danger"
        @click="logout"
      >
        <fa-icon :icon="['fas', 'door-open']" />
        Logout
      </b-button>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Navbar',
  methods: {
    async logout () {
      await this.$store.dispatch('logout')
      this.$swal({
        title: 'Logout realizado com sucesso',
        toast: true,
        type: 'success',
        position: 'top-end',
        timer: 2000,
        showConfirmButton: false,
      });
      setTimeout(() => {
        this.$router.push("/")
      }, 500);
    }
  }
};
</script>
