<template>
  <div class="mt-5">
    <div class="card">
      <div class="card-header">
        Paciente
      </div>
      <div class="card-body">
        <form @submit.prevent="submit">
          <div class="form-row">
            <div class="col-6">
              <div class="form-group">
                <label>Nome</label>
                <input
                  v-model="payload.nome"
                  placeholder="Digite o nome do paciente"
                  class="form-control"
                  :class="{'border-danger': isInvalid('nome')}"
                  type="text"
                  @input="$v.payload.nome.$touch()"
                >
                <div
                  v-if="isInvalid('nome')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('nome') }}
                  </small>
                </div>
              </div>
            </div>

            <div class="col-2">
              <div class="form-group">
                <label>Idade</label>
                <input
                  v-model="payload.idade"
                  :class="{'border-danger': isInvalid('idade')}"
                  class="form-control"
                  type="number"
                  step="1"
                  min="0"
                  @input="$v.payload.idade.$touch()"
                >
                <div
                  v-if="isInvalid('idade')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('idade') }}
                  </small>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Clinica</label>
                <select
                  v-model="payload.clinica_id"
                  class="form-control"
                  :class="{'border-danger': isInvalid('clinica_id')}"
                  @input="$v.payload.clinica_id.$touch()"
                >
                  <option
                    selected
                    value="null"
                  >
                    Selecione a clinica
                  </option>
                  <option
                    v-for="clinica in clinicas"
                    :key="clinica.id"
                    :value="clinica.id"
                  >
                    {{ clinica.nome }}
                  </option>
                </select>
                <div
                  v-if="hasErrors('clinica_id')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('clinica_id') }}
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-6">
              <div class="form-group">
                <label>Sexo</label>
                <select
                  v-model="payload.sexo"
                  class="form-control"
                  :class="{'border-danger': isInvalid('sexo')}"
                  @input="$v.payload.sexo.$touch()"
                >
                  <option
                    selected
                    value="null"
                  >
                    Selecione o sexo
                  </option>
                  <option value="M">
                    Masculino
                  </option>
                  <option value="F">
                    Femenino
                  </option>
                  <option value="I">
                    Indefinido
                  </option>
                </select>
                <div
                  v-if="hasErrors('sexo')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('sexo') }}
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>E-mail</label>
                <input
                  v-model="payload.email"
                  class="form-control"
                  placeholder="Digite o e-mail do paciente"
                  :class="{'border-danger': isInvalid('email')}"
                  type="text"
                  @input="$v.payload.email.$touch()"
                >
                <div
                  v-if="hasErrors('email')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('email') }}
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <button
              class="btn btn-success ml-3"
              type="submit"
            >
              <fa-icon :icon="['fas', 'paper-plane']" />
              Enviar
            </button>
            <button
              class="btn btn-warning ml-3"
              type="reset"
              @click="reset"
            >
              <fa-icon :icon="['fas', 'redo']" />
              Resetar
            </button>
            <button
              class="btn btn-danger ml-3"
              type="button"
              @click="() => this.$router.go(-1)"
            >
              <fa-icon :icon="['fas', 'times']" />
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { required, maxLength, minLength, email } from 'vuelidate/lib/validators'

export default {
  name: "PacienteForm",
  data () {
    return {
      clinicas: [],
      payload: {
        nome: "",
        idade: 0,
        sexo: null,
        email: "",
        clinica_id: null
      },
      errors: {},
      type: 'create',
    };
  },
  created () {
    let { id } = this.$route.params

    this.loadClinicas()

    if (id) {
      this.rota = `/api/paciente/${id}`
      this.loadPaciente(id)
      this.type = 'edit'
    }

  },
  methods: {
    loadPaciente (id){
      axios.get(`/api/paciente/${id}`).then(
        res => {
          this.payload = res.data
        }
      )
    },
    loadClinicas () {
      axios.get('/api/clinica').then(({data}) => {
        this.clinicas = data.data;
      })
    },
    submit (){
      let { id } = this.$route.params;
      if (this.type === 'create') {
        axios.post('/api/paciente', this.payload).then(() => {
          this.$swal({
            title: 'Paciente criado com sucesso',
            toast: true,
            type: 'success',
            position: 'top-end',
            timer: 2000,
            showConfirmButton: false,
          });
          this.$router.go(-1)
        }).catch(err => {
          this.errors = err.response.data.errors
          this.$swal({
            title: 'Algo errado aconteceu',
            toast: true,
            type: 'error',
            position: 'top-end',
            timer: 2000,
            showConfirmButton: false,
          });
        })
        console.log('aqui')
      }else if(this.type === 'edit' && id){
        axios.put(`/api/paciente/${id}`, this.payload).then(() => {
          this.$swal({
            title: 'Paciente atualizado com sucesso',
            toast: true,
            type: 'success',
            position: 'top-end',
            timer: 2000,
            showConfirmButton: false,
          });
          this.$router.go(-1)
        }).catch(err => {
          this.errors = err.response.data.errors
          this.$swal({
            title: 'Algo errado aconteceu',
            toast: true,
            type: 'error',
            position: 'top-end',
            timer: 2000,
            showConfirmButton: false,
          });
        })
      }
    },
    reset (){
      let newPayload = {
        nome: '',
        idade: 0,
        sexo: 'M',
        email: '',
        clinica_id: '',
      }
      this.payload = newPayload;
    },
    hasErrors (field){
      if (
        (Object.entries(this.errors).length &&
        Object.prototype.hasOwnProperty.call(this.errors, field))
      ) {
        return true
      }
      return false
    },
    getErrorsMessage (field){
      if (this.hasErrors(field)) {
        console.log(field)
        return this.errors[field][0]
      }
      return ''
    },
    isInvalid (field) {
      let ret = (
        (this.$v.payload[field].$dirty && this.$v.payload[field].$invalid) ||
        (this.hasErrors(field) && !this.$v.payload[field].$dirty)
      )

      return ret
    }
  },
  validations: {
    payload: {
      nome: {
        required,
        maxLength: maxLength(55)
      },
      idade: {
        required,
        maxLength: minLength(0)
      },
      sexo: {
        required,
        in: (value) => ["M", "F", "I"].some(sexo => value.indexOf(sexo) !== -1)
      },
      email:{
        required,
        email
      },
      clinica_id:{
        required
      }
    }
  }
};
</script>

<style scoped>
.btn-warning {
  color: #fff;
}
</style>
