<template>
  <div>
    <div class="d-flex my-3 flex-row-reverse">
      <button
        class="btn btn-success"
        @click="() => this.$router.push({name: 'paciente-create'})"
      >
        <fa-icon :icon="['fas', 'plus']" />
        Cadastrar novo paciente
      </button>
    </div>
    <div class="card">
      <div class="card-header">
        Paciente
      </div>

      <div class="card-body">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">
                #
              </th>
              <th scope="col">
                Nome
              </th>
              <th scope="col">
                Idade
              </th>
              <th scope="col">
                Sexo
              </th>
              <th scope="col">
                E-mail
              </th>
              <th scope="col">
                Ações
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(paciente, index) in pacientes"
              :key="paciente.id"
            >
              <th
                scope="row"
              >
                {{ index + 1 }}
              </th>
              <td>{{ paciente.nome }}</td>
              <td>{{ paciente.idade }}</td>
              <td>{{ formatSexo(paciente.sexo) }}</td>
              <td>{{ paciente.email }}</td>
              <td>
                <router-link
                  :to="{name: 'paciente-edit', params: {id: paciente.id}}"
                  class="btn btn-outline-warning btn-sm"
                >
                  <fa-icon :icon="['fas', 'pen']" />
                </router-link>
              </td>
            </tr>
            <tr
              v-if="pacientes.length === 0"
            >
              <th scope="row">
                #
              </th>
              <td>
                Não há registros
              </td>
              <td>
                Não há registros
              </td>
              <td>Não há registros</td>
              <td>Não há registros</td>
              <td>#</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <pagination :data="pagination" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: "PacienteIndex",
  data () {
    return {
      pacientes: [],
      pagination: {},
    }
  },
  created () {
    this.loadPacientes()
  },
  methods: {
    loadPacientes () {
      axios.get('/api/paciente').then(({data}) => {
        this.pacientes = data.data;
      })
    },
    getResults (page = 1) {
			axios.get(`/api/paciente?page=${page}`)
				.then(response => {
					this.pagination = response.data;
				});
    },
    formatSexo (sexo){
      if (sexo === 'M') {
        return 'Masculino'
      }
      if (sexo === 'F') {
        return 'Femenino'
      }
      if (sexo === 'I') {
        return 'Indefinido'
      }
    }
  }
};
</script>

<style scoped>
.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}
.btn-outline-warning:hover {
  color: #fff;
}
</style>
