<template>
  <div>
    <div class="d-flex my-3 justify-content-end">
      <button
        class="btn btn-success"
        @click="() => this.$router.push({name: 'atendimento-create'})"
      >
        <fa-icon :icon="['fas', 'plus']" />
        Cadastrar novo atendimento
      </button>
      <!-- <label
        v-tooltip="'Envio automático do e-mail após o cancelamento do atendimento, ou ao se aproximar da data'"
        class="btn btn-outline-warning my-0 ml-3"
      >
        <fa-icon :icon="['fas', 'envelope']" />
        Enviar email automaticamente
        <input
          type="checkbox"
          class="btn btn-success"
          @change="enviarEmail"
        >
      </label> -->
    </div>
    <div class="card">
      <div class="card-header">
        Atendimento
      </div>

      <div class="card-body">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">
                #
              </th>
              <th scope="col">
                Data
              </th>
              <th scope="col">
                Status
              </th>
              <th scope="col">
                Paciente
              </th>
              <th scope="col">
                Medico
              </th>
              <th scope="col">
                Ações
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(atendimento, index) in atendimentos"
              :key="atendimento.id"
            >
              <th
                scope="row"
              >
                {{ index + 1 }}
              </th>
              <td>
                {{ formatData(atendimento.data) }}
                <span
                  v-if="atendimento.data === new Date().toISOString().split('T')[0]"
                  class="text-warning"
                >
                  ( Hoje )
                </span>
              </td>
              <td
                :class="{
                  'text-warning': atendimento.status === 'A',
                  'text-success': atendimento.status === 'R',
                  'text-danger': atendimento.status === 'C',
                }"
              >
                {{ formatStatus(atendimento.status) }}
              </td>
              <td>{{ atendimento.paciente.nome }}</td>
              <td>{{ atendimento.medico.nome }}</td>
              <td>
                <router-link
                  :to="{name: 'atendimento-edit', params: {id: atendimento.id}}"
                  class="btn btn-outline-warning btn-sm"
                >
                  <fa-icon :icon="['fas', 'pen']" />
                </router-link>
              </td>
            </tr>
            <tr
              v-if="atendimentos.length === 0"
            >
              <th scope="row">
                #
              </th>
              <td>
                Não há registros
              </td>
              <td>
                Não há registros
              </td>
              <td>Não há registros</td>
              <td>Não há registros</td>
              <td>#</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <pagination :data="pagination" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: "AtendimentoIndex",
  data () {
    return {
      atendimentos: [],
      pagination: {},
    }
  },
  created () {
    this.loadAtendimentos()
  },
  methods: {
    enviarEmail (){
      console.log('foi')
    },
    loadAtendimentos () {
      axios.get('/api/atendimento').then(({data}) => {
        this.atendimentos = data.data;
      })
    },
    getResults (page = 1) {
			axios.get(`/api/atendimento?page=${page}`)
				.then(response => {
					this.pagination = response.data;
				});
    },
    formatStatus (status){
      if (status === 'A') {
        return 'Aguardando'
      }
      if (status === 'C') {
        return 'Cancelado'
      }
      if (status === 'R') {
        return 'Realizado'
      }
    },
    formatData (data){
      return data.split('-').reverse().join('/')
    }
  }
};
</script>

<style scoped>
.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}
.btn-outline-warning:hover {
  color: #fff;
}
</style>
