<template>
  <div class="mt-5">
    <div class="card">
      <div class="card-header">
        Médico
      </div>
      <div class="card-body">
        <form @submit.prevent="submit">
          <div class="form-row">
            <div class="col-6">
              <div class="form-group">
                <label>Data</label>
                <input
                  v-model="payload.data"
                  class="form-control"
                  :class="{'border-danger': isInvalid('data')}"
                  type="date"
                  @input="$v.payload.data.$touch()"
                >
                <div
                  v-if="isInvalid('data')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('data') }}
                  </small>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label>Status</label>
                <select
                  v-model="payload.status"
                  class="form-control"
                  :class="{'border-danger': isInvalid('status')}"
                  @input="$v.payload.status.$touch()"
                >
                  <option selected>
                    Selecione o status
                  </option>
                  <option value="A">
                    Aguardando
                  </option>
                  <option
                    value="C"
                    :disabled="type === 'create'"
                  >
                    Cancelado
                  </option>
                  <option
                    value="R"
                    :disabled="type === 'create'"
                  >
                    Realizado
                  </option>
                </select>
                <div
                  v-if="isInvalid('status')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('status') }}
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-6">
              <div class="form-group">
                <label>Paciente</label>
                <select
                  v-model="payload.paciente_id"
                  class="form-control"
                  :class="{'border-danger': isInvalid('paciente_id')}"
                  @input="$v.payload.paciente_id.$touch()"
                >
                  <option
                    selected
                    value="null"
                  >
                    Selecione a paciente
                  </option>
                  <option
                    v-for="paciente in pacientes"
                    :key="paciente.id"
                    :value="paciente.id"
                  >
                    {{ paciente.nome }}
                  </option>
                </select>
                <div
                  v-if="hasErrors('paciente_id')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('paciente_id') }}
                  </small>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Médico</label>
                <select
                  v-model="payload.medico_id"
                  class="form-control"
                  :class="{'border-danger': isInvalid('medico_id')}"
                  @input="$v.payload.medico_id.$touch()"
                >
                  <option
                    selected
                    value="null"
                  >
                    Selecione a medico
                  </option>
                  <option
                    v-for="medico in medicos"
                    :key="medico.id"
                    :value="medico.id"
                  >
                    {{ medico.nome }}
                  </option>
                </select>
                <div
                  v-if="hasErrors('medico_id')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('medico_id') }}
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <button
              class="btn btn-success ml-3"
              type="submit"
            >
              <fa-icon :icon="['fas', 'paper-plane']" />
              Enviar
            </button>
            <button
              class="btn btn-warning ml-3"
              type="reset"
              @click="reset"
            >
              <fa-icon :icon="['fas', 'redo']" />
              Resetar
            </button>
            <button
              class="btn btn-danger ml-3"
              type="button"
              @click="() => this.$router.go(-1)"
            >
              <fa-icon :icon="['fas', 'times']" />
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { required } from 'vuelidate/lib/validators'

export default {
  name: "AtendimentoForm",
  data () {
    return {
      medicos: [],
      pacientes: [],
      payload: {
        data: "",
        status: 'A',
        paciente_id: null,
        medico_id: null
      },
      errors: {},
      type: 'create',
    };
  },
  created () {
    let { id } = this.$route.params

    this.loadMedicos()
    this.loadPacientes()

    if (id) {
      this.rota = `/api/atendimento/${id}`
      this.loadAtendimento(id)
      this.type = 'edit'
    }

  },
  methods: {
    loadAtendimento (id){
      axios.get(`/api/atendimento/${id}`).then(
        res => {
          this.payload = res.data
        }
      )
    },
    loadMedicos () {
      axios.get('/api/medico').then(({data}) => {
        this.medicos = data.data;
      })
    },
    loadPacientes () {
      axios.get('/api/paciente').then(({data}) => {
        this.pacientes = data.data;
      })
    },
    submit (){
      let { id } = this.$route.params;
      if (this.type === 'create') {
        axios.post('/api/atendimento', this.payload).then(res => {
          console.log(res)
          this.$swal({
            title: 'Atendimento criado com sucesso',
            toast: true,
            type: 'success',
            position: 'top-end',
            timer: 2000,
            showConfirmButton: false,
          });
          this.$router.go(-1)
        }).catch(err => {
          this.errors = err.response.data.errors
          this.$swal({
            title: 'Algo errado aconteceu',
            toast: true,
            type: 'error',
            position: 'top-end',
            timer: 2000,
            showConfirmButton: false,
          });
        })
      }else if(this.type === 'edit' && id){
        axios.put(`/api/atendimento/${id}`, this.payload).then(() => {
          this.$swal({
            title: 'Atendimento atualizada com sucesso',
            toast: true,
            type: 'success',
            position: 'top-end',
            timer: 2000,
            showConfirmButton: false,
          });
          this.$router.go(-1)
        }).catch(err => {
          console.log(err.response)
          this.errors = err.response.data.errors
          this.$swal({
            title: 'Algo errado aconteceu',
            toast: true,
            type: 'error',
            position: 'top-end',
            timer: 2000,
            showConfirmButton: false,
          });
        })
      }
    },
    reset (){
      let newPayload = {
        data: "",
        status: 'A',
        paciente_id: null,
        medico_id: null
      }
      this.payload = newPayload;
    },
    hasErrors (field){
      if (
        (Object.entries(this.errors).length &&
        Object.prototype.hasOwnProperty.call(this.errors, field))
      ) {
        return true
      }
      return false
    },
    getErrorsMessage (field){
      if (this.hasErrors(field)) {
        console.log(field)
        return this.errors[field][0]
      }
      return ''
    },
    isInvalid (field) {
      let ret = (
        (this.$v.payload[field].$dirty && this.$v.payload[field].$invalid) ||
        (this.hasErrors(field) && !this.$v.payload[field].$dirty)
      )

      return ret
    },
  },
  validations: {
    payload: {
      data: {
        required,
        minValue: value => value >= new Date().toISOString().split('T')[0]
      },
      status: {
        required,
        in: (value) => ["C", "A", "R"].some(status => value.indexOf(status) !== -1)
      },
      paciente_id:{
        required
      },
      medico_id:{
        required
      }
    }
  }
};
</script>

<style scoped>
.btn-warning {
  color: #fff;
}
</style>
