<template>
  <div class="mt-5">
    <div class="card">
      <div class="card-header">
        Clinica
      </div>
      <div class="card-body">
        <form @submit.prevent="submit">
          <div class="form-row">
            <div class="col-6">
              <div class="form-group">
                <label>Nome</label>
                <input
                  v-model="payload.nome"
                  class="form-control"
                  :class="{'border-danger': isInvalid('nome')}"
                  type="text"
                  @input="$v.payload.nome.$touch()"
                >
                <div
                  v-if="isInvalid('nome')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('nome') }}
                  </small>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label>CNES</label>
                <input
                  v-model="payload.cnes"
                  v-mask="'######'"
                  :class="{'border-danger': isInvalid('cnes')}"
                  class="form-control"
                  type="text"
                  @input="$v.payload.cnes.$touch()"
                >
                <div
                  v-if="isInvalid('cnes')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('cnes') }}
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-6">
              <div class="form-group">
                <label>Cnpj</label>
                <input
                  v-model="payload.cnpj"
                  v-mask="'##.###.###/####-##'"
                  class="form-control"
                  :class="{'border-danger': isInvalid('cnpj')}"
                  type="text"
                  @input="$v.payload.cnpj.$touch()"
                >
                <div
                  v-if="hasErrors('cnpj')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('cnpj') }}
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Proprietário</label>
                <input
                  v-model="payload.proprietario"
                  class="form-control"
                  :class="{'border-danger': isInvalid('proprietario')}"
                  type="text"
                  @input="$v.payload.proprietario.$touch()"
                >
                <div
                  v-if="hasErrors('proprietario')"
                  class="col-sm-8"
                >
                  <small
                    class="text-danger"
                  >
                    {{ getErrorsMessage('proprietario') }}
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <button
              class="btn btn-success ml-3"
              type="submit"
            >
              <fa-icon :icon="['fas', 'paper-plane']" />
              Enviar
            </button>
            <button
              class="btn btn-warning ml-3"
              type="reset"
              @click="reset"
            >
              <fa-icon :icon="['fas', 'redo']" />
              Resetar
            </button>
            <button
              class="btn btn-danger ml-3"
              type="button"
              @click="() => this.$router.go(-1)"
            >
              <fa-icon :icon="['fas', 'times']" />
              Cancelar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { required, maxLength } from 'vuelidate/lib/validators'

export default {
  name: "ClinicaForm",
  data () {
    return {
      payload: {
        nome: "",
        cnes: "",
        cnpj: "",
        proprietario: ""
      },
      errors: {},
      type: 'create',
    };
  },
  created () {
    let {id} = this.$route.params

    if (id) {
      this.rota = `/api/clinica/${id}`
      this.loadClinica(id)
      this.type = 'edit'
    }

  },
  methods: {
    loadClinica (id){
      axios.get(`/api/clinica/${id}`).then(
        res => {
          this.payload = res.data
        }
      )
    },
    submit (){
      let { id } = this.$route.params;
      if (this.type === 'create') {
        axios.post('/api/clinica', this.payload).then(() => {
          this.$swal({
            title: 'Clínica criada com sucesso',
            toast: true,
            type: 'success',
            position: 'top-end',
            timer: 2000,
            showConfirmButton: false,
          });
          this.$router.go(-1)
        }).catch(err => {
          this.errors = err.response.data.errors
          this.$swal({
            title: 'Algo errado aconteceu',
            toast: true,
            type: 'error',
            position: 'top-end',
            timer: 2000,
            showConfirmButton: false,
          });
        })
      }else if(this.type === 'edit' && id){
        axios.put(`/api/clinica/${id}`, this.payload).then(() => {
          this.$swal({
            title: 'Clínica atualizada com sucesso',
            toast: true,
            type: 'success',
            position: 'top-end',
            timer: 2000,
            showConfirmButton: false,
          });
          this.$router.go(-1)
        }).catch(err => {
          this.errors = err.response.data.errors
          this.$swal({
            title: 'Algo errado aconteceu',
            toast: true,
            type: 'error',
            position: 'top-end',
            timer: 2000,
            showConfirmButton: false,
          });
        })
      }
    },
    reset (){
      let newPayload = {
        nome: '',
        cnes: '',
        cnpj: '',
        proprietario: '',
      }
      this.payload = newPayload;
    },
    hasErrors (field){
      if (
        (Object.entries(this.errors).length &&
        Object.prototype.hasOwnProperty.call(this.errors, field))
      ) {
        return true
      }
      return false
    },
    getErrorsMessage (field){
      if (this.hasErrors(field)) {
        console.log(field)
        return this.errors[field][0]
      }
      return ''
    },
    isInvalid (field) {
      let ret = (
        (this.$v.payload[field].$dirty && this.$v.payload[field].$invalid) ||
        (this.hasErrors(field) && !this.$v.payload[field].$dirty)
      )

      return ret
    }
  },
  validations: {
    payload: {
      nome: {
        required,
        maxLength: maxLength(55)
      },
      cnes: {
        required,
        maxLength: maxLength(6)
      },
      cnpj: {
        required,
        maxLength: maxLength(18)
      },
      proprietario:{
        required,
        maxLength: maxLength(55)
      }
    }
  }
};
</script>

<style scoped>
.btn-warning {
  color: #fff;
}
</style>
