<template>
  <div>
    <div class="d-flex my-3 flex-row-reverse">
      <button
        class="btn btn-success"
        @click="() => this.$router.push({name: 'clinica-create'})"
      >
        <fa-icon :icon="['fas', 'plus']" />
        Cadastrar nova clínica
      </button>
    </div>
    <div class="card">
      <div class="card-header">
        Clinica
      </div>

      <div class="card-body">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">
                #
              </th>
              <th scope="col">
                Nome
              </th>
              <th scope="col">
                CNES
              </th>
              <th scope="col">
                Cnpj
              </th>
              <th scope="col">
                Proprietário
              </th>
              <th scope="col">
                Ações
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(clinica, index) in clinicas"
              :key="clinica.id"
            >
              <th
                scope="row"
              >
                {{ index + 1 }}
              </th>
              <td>{{ clinica.nome }}</td>
              <td>{{ clinica.cnes }}</td>
              <td>{{ formatCnpj(clinica.cnpj) }}</td>
              <td>{{ clinica.proprietario }}</td>
              <td>
                <router-link
                  :to="{name: 'clinica-edit', params: {id: clinica.id}}"
                  class="btn btn-outline-warning btn-sm"
                >
                  <fa-icon :icon="['fas', 'pen']" />
                </router-link>
              </td>
            </tr>
            <tr
              v-if="clinicas.length === 0"
            >
              <th scope="row">
                #
              </th>
              <td>
                Não há registros
              </td>
              <td>
                Não há registros
              </td>
              <td>Não há registros</td>
              <td>Não há registros</td>
              <td>#</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <pagination :data="pagination" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: "ClinicaIndex",
  data () {
    return {
      clinicas: [],
      pagination: {},
    }
  },
  created () {
    this.loadClinicas()
  },
  methods: {
    loadClinicas () {
      axios.get('/api/clinica').then(({data}) => {
        this.clinicas = data.data;
      })
    },
    getResults (page = 1) {
			axios.get(`/api/clinica?page=${page}`)
				.then(response => {
					this.pagination = response.data;
				});
    },
    formatCnpj (cnpj){
      return cnpj.replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})$/, '$1.$2.$3\\$4-$5')
    }
  }
};
</script>

<style scoped>
.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}
.btn-outline-warning:hover {
  color: #fff;
}
</style>
